.popup-page {
  position: fixed;
  top: 20px; /* distance from top */
  right: 20px; /* distance from right */
  left: 20px; /* distance from left */
  display: flex;
  flex-direction: column; /* stack popups vertically */
  gap: 10px; /* space between popups */
  z-index: 9999; /* always on top */
}

.popup-box {
  border: 1px solid black;
  border-radius: 10px;
}